@font-face {
    font-family: "PokemonGame";
    src: url("./PokemonGame.ttf");
}

:root {
  font-size: 40px; /* 1px = .125 */
  font-family: "PokemonGame";
  background-color: rgb(84, 84, 84);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
    width: 24em;
    height: 21.6em;
    margin: auto;
    background-color: white;
    box-shadow: /* very  smooth shadow */
    0 2.8px 2.2px rgba(0, 0, 0, 0.114),
    0 6.7px 5.3px rgba(0, 0, 0, 0.164),
    0 12.5px 10px rgba(0, 0, 0, 0.193),
    0 22.3px 17.9px rgba(0, 0, 0, 0.196),
    0 41.8px 33.4px rgba(0, 0, 0, 0.304),
    0 100px 80px rgba(0, 0, 0, 0.316);
    z-index: -1;
}

#graphicscon {
    position: relative;
}

#main, #fs, #tb, #pb, #rps{
    position: absolute;
    top: 0;
    left: 0;
}

#livecon  {
    position: relative;
}

#trainer, #playername{
    position: absolute;
    font-size: 1.2rem;
    letter-spacing: -.015rem; /* aligns font to grid */
    top: -0.13em;
}

#trainer {
    left: 1em;
}

#playername {
    top: 6.86em;
    left: 9.99em;
}

#trainerlevel, #playerlevel {
    position: absolute;
    font-size: 1.2em;
    text-align: left;
}

#trainerlevel {
    top: .865em;
    left: 3.99em;
    z-index: 1;
}

#playerlevel {
    top: 7.86em;
    left: 13.98em;
    z-index: 1;
}

.level {
    width: .75em;
}

#trainerlife, #playerlife {
    position: absolute;
    width: 7.2em;
    height: .31em;
    background-color: red;
    -webkit-transition:350ms ease-in;
	-moz-transition:350ms ease-in;
	-o-transition:350ms ease-in;
	-ms-transition:350ms ease-in;
	transition:350ms ease-in;
    z-index: 0;
}

#trainerlife {
    top: 2.84em;
    left: 4.8em;
}

#playerlife {
    top: 11.24em;
    left: 14.4em;
}

#fightmenu {
    position: relative;
    font-size: 1.2rem;
    letter-spacing: -.015rem;
}

#fight {
    position: absolute;
    top: 13.875em;
    left: 10em;
}

.x1y2.main{
    position: absolute;
    top: 13.875em;
    left: 9.125em;   
}

#item {
    position: absolute;
    top: 15.875em;
    left: 10.125em;          
}

.x1y1.main{
    position: absolute;
    top: 15.875em;
    left: 9.125em;   
}

#info {
    position: absolute;
    top: 13.875em;
    left: 15.75em;
}

.x2y2.main{
    position: absolute;
    top: 13.875em;
    left: 14.875em;  
}

#run {
    position: absolute;
    top: 15.875em;
    left: 16em;
}

.x2y1.main{
    position: absolute;
    top: 15.875em;
    left: 14.875em;  
}

.rpscon {
    position: relative;
    font-size: 1.2em;
    letter-spacing: -.015rem;
}

#rpsdiv {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: -.125em;
    top: 13em;
    left: 6em;
}

.rpsmenu {
    margin-top: -.125em;
}

.rps, .main {
    width: .625em;
    margin-top: .25em;
}

.x1y4.rps {
    position: absolute;
    top: 12.875em;
    left: 5.125em;   
}

.x1y3.rps {
    position: absolute;
    top: 13.875em;
    left: 5.125em;   
}

.x1y2.rps {
    position: absolute;
    top: 14.875em;
    left: 5.125em;   
}

.x1y1.rps {
    position: absolute;
    top: 15.875em;
    left: 5.125em;   
}

.textcon {
    position: relative;
    font-size: 1.2em;
    letter-spacing: -.015rem;
}

.text {
    position: absolute;
    top: 13em;
    left: 2em;
}

#arrowselector {

}

.hideelement {
    visibility: hidden;
}

#rpsarrow {
    position: absolute;
    left: 2em;
}

#template {
    position: absolute;
    opacity: 8%;
    z-index: 5;
}

