@font-face {
    font-family: "PokemonGame";
    src: url("./PokemonGame.ttf");
}

:root {
  font-size: 1.5vmin; /* 1px = .125 */
  font-family: "PokemonGame";
  background-color: rgb(58, 58, 58);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    max-height: 100vh;
}

#controls {
    position: relative;
    width: 40.9em;
    margin: auto;
}

.handheld {
    position: relative;
    width: 40.9em;
    margin: auto;
}

#display {
    width: 40.9em;
    margin: auto;
}

#container {
    position: relative;
    margin: auto;
    top: 6.8em;
    left: -.2em;
    width: 24em;
    height: 21.6em;
    background-color: rgb(255, 255, 255);
    /* box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.114),
    0 6.7px 5.3px rgba(0, 0, 0, 0.164),
    0 12.5px 10px rgba(0, 0, 0, 0.193),
    0 22.3px 17.9px rgba(0, 0, 0, 0.196),
    0 41.8px 33.4px rgba(0, 0, 0, 0.304),
    0 100px 80px rgba(0, 0, 0, 0.316); */
    opacity: 0%;
    z-index: 1;
}

#main, #fs, #tb, #pb, #rps{
    position: absolute;
    top: 0;
    left: 0;
}

#upButton, #downButton, #leftButton, #rightButton, #aButton, #bButton {
    position: absolute;
    margin: auto;
    width: 1.5em;
    height: 1.5em;
    font-size: 2em;
    opacity: 0;
    z-index: 20;
}

#upButton {
    top: 21em;
    left: 3.5em;
}

#downButton {
    top: 25em;
    left: 3.5em;
}

#leftButton {
    top: 23em;
    left: 1.5em;
}

#rightButton {
    top: 23em;
    left: 5.5em;
}

#aButton {
    top: 22em;
    left: 16.5em;
}

#bButton {
    top: 23em;
    left: 13em;
}

#trainer, #playername{
    position: absolute;
    font-size: 1.2rem;
    letter-spacing: -.015rem; /* aligns font to grid */
    top: -0.13em;
}

#trainer {
    left: 1em;
}

#playername {
    top: 6.86em;
    left: 9.99em;
}

#trainerlevel, #playerlevel {
    position: absolute;
    font-size: 1.2em;
    text-align: left;
}

#trainerlevel {
    top: .865em;
    left: 3.99em;
    z-index: 1;
}

#playerlevel {
    top: 7.86em;
    left: 13.98em;
    z-index: 1;
}

.level {
    width: .75em;
}

#trainerlife, #playerlife {
    position: absolute;
    width: 7.2em;
    height: .31em;
    background-color: #8B4757;
    -webkit-transition:350ms ease-in;
	-moz-transition:350ms ease-in;
	-o-transition:350ms ease-in;
	-ms-transition:350ms ease-in;
	transition:350ms ease-in;
    z-index: 0;
}

#trainerlife {
    top: 2.84em;
    left: 4.8em;
}

#playerlife {
    top: 11.24em;
    left: 14.4em;
}

#fightmenu {
    font-size: 1.2rem;
    letter-spacing: -.015rem;
}

#fight {
    position: absolute;
    top: 13.875em;
    left: 10em;
}

.x1y2.main{
    position: absolute;
    top: 13.875em;
    left: 9.125em;   
}

#item {
    position: absolute;
    top: 15.875em;
    left: 10.125em;          
}

.x1y1.main{
    position: absolute;
    top: 15.875em;
    left: 9.125em;   
}

#info {
    position: absolute;
    top: 13.875em;
    left: 15.75em;
}

.x2y2.main{
    position: absolute;
    top: 13.875em;
    left: 14.875em;  
}

#run {
    position: absolute;
    top: 15.875em;
    left: 16em;
}

.x2y1.main{
    position: absolute;
    top: 15.875em;
    left: 14.875em;  
}

.rpscon {
    font-size: 1.2em;
    letter-spacing: -.015rem;
}

#rpsdiv {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: -.125em;
    top: 13em;
    left: 6em;
}

.rpsmenu {
    margin-top: -.125em;
}

.rps, .main {
    width: .625em;
    margin-top: .25em;
}

.x1y4.rps {
    position: absolute;
    top: 12.875em;
    left: 5.125em;   
}

.x1y3.rps {
    position: absolute;
    top: 13.875em;
    left: 5.125em;   
}

.x1y2.rps {
    position: absolute;
    top: 14.875em;
    left: 5.125em;   
}

.x1y1.rps {
    position: absolute;
    top: 15.875em;
    left: 5.125em;   
}

.textcon {
    font-size: 1.2em;
    letter-spacing: -.015rem;
}

.text {
    position: absolute;
    line-height: 1em;
    top: 13.955em;
    left: 2em;
}

#arrowselector {

}

.hideelement {
    visibility: hidden;
}

#rpsarrow {
    position: absolute;
    left: 2em;
}

#template {
    position: absolute;
    opacity: 8%;
    z-index: 5;
}

#cat {
    position: absolute;
    width: 6em;
    top: .5em;
    left: 15em;
}


/* animation stuff */

#svg1, #svg2, #svg3, #svg4, #incom{
    position: absolute;
    z-index: -2;
}

#svg2 {
    clip-path: 0;
}

.swipereveal {
    position: absolute;
    animation: test 1.5s linear;
}


#layer3 {
    -webkit-backdrop-filter: blur(.3em);
    backdrop-filter: blur(.3em);
    z-index: 0;
}

@keyframes test {
        0% { clip-path: polygon(100% 0, 0 0, 0 100%, 0 0, 0 0); }
        50% { clip-path: polygon(100% 0, 0 0, 0 100%, 0 100%, 100% 0); }
        100% { clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%, 100% 100%); }
  }

#splash1, #splash2, #splash3, #splash4, #splash5 {
    clip-path: 0;
    animation: splash 1s linear;
}

#splash5 {
    opacity: 100%;
}

#splash5.fadeout {
    -webkit-transition: .9s;
    -moz-transition: .9s;
    -ms-transition: .9s;
    -o-transition: .9s;
    transition: .9s;
    opacity: 0%;
}

#container.fadein {
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    opacity: 100%;
}

@keyframes splash {
    0% { clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%); }
    100% { clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); }
}

.cls-1 {
    stroke-dasharray: 5300;
    stroke-dashoffset: 5300;
    animation: outline 1.7s cubic-bezier(0.805, 0.075, 0.150, 0.890) forwards;
    fill:none;
    stroke:#fff;
    stroke-miterlimit:10;
    stroke-width: .08em;
}
  
@keyframes outline {
    to {
        stroke-dashoffset: 0;
    }
}


